---
const experienceItems: {
  title: string;
  date: string;
  roleTasks: string[];
}[] = [

  {
  title: "Cloud/Infrastructure Analyst - Netgroup",
  date: "July 2025 - Present",
  roleTasks: [
    "Manage and administer cloud services under SaaS models, ensuring availability, security, and optimal performance across multiple platforms.",
    "Administer and support Azure platforms, including provisioning, configuration, and monitoring of cloud resources (CPU, memory, storage).",
    "Optimize cloud resources to reduce unnecessary costs and improve operational efficiency through usage analysis and resource planning.",
    "Manage identities and access control using Syspeace, implementing security policies to protect infrastructure.",
    "Configure and maintain firewalls, VPNs, and network security to ensure secure connectivity and data protection.",
    "Migrate applications between different cloud services, ensuring minimal downtime and data integrity during transitions.",
    "Administer and maintain Windows and Linux servers, performing updates, patches, and system optimizations.",
    "Manage web hosting services in cPanel, performing configurations, domain management, email administration, and security implementations.",
    "Resolve technical infrastructure incidents and provide Level 1 and Level 2 support in cloud environments, escalating with application providers when necessary.",
  ],
},

  {
  title: "NOC Operator - Netgroup",
  date: "March 2025 - July 2025",
  roleTasks: [
    "Provided specialized technical support for communications and networking in enterprise environments serving over 2,000 users.",
    "Administered and maintained virtualized environments and servers using VMware and Hyper-V, ensuring optimal performance and availability.",
    "Managed Active Directory integrations, Web Services, and user permissions to support organizational infrastructure.",
    "Implemented and managed backup solutions for file recovery and disaster recovery procedures, ensuring business continuity.",
    "Participated in technology infrastructure projects and network scalability initiatives to support organizational growth.",
    "Ensured operational continuity of IT services in large-scale enterprise environments through proactive monitoring and incident response.",
  ],
},

  {
  title: "Plugin Developer - CideSoft",
  date: "March 2024 - August 2024",
  roleTasks: [
    "Developed custom WordPress websites using Elementor Pro, ensuring high-quality visual and functional design tailored to client requirements.",
    "Built and maintained custom plugins adapted to specific project needs, implementing advanced functionalities with PHP, HTML, CSS, and JavaScript.",
    "Enhanced e-commerce features including shopping carts, payment gateways, and inventory management systems using WooCommerce and custom PHP solutions.",
    "Integrated external APIs for electronic invoicing and extended site capabilities, ensuring seamless data flow between systems.",
    "Implemented technical SEO strategies with Yoast SEO, optimized site performance using WP-Rocket, and applied web security best practices.",
    "Translated Figma mockups into functional implementations, adapting designs to meet specific client needs and maintaining design consistency.",
    "Created technical documentation and provided training sessions to staff on new functionalities and system usage.",
  ],
},

  {
    title: "FullStack Developer - WebCloster SAS",
    date: "Aug 2023 - January 2024",
    roleTasks: [
      "Utilize React and Vue to create responsive and interactive user interfaces based on provided designs or wireframes.",
      "Build reusable and efficient components using React or Vue to ensure consistency and scalability across the application.",
      "Achieve a cohesive design, ensuring responsiveness and accessibility using TailwindCSS.",
      "Leverage Next.js for server-side rendering, routing, and optimizing web applications for performance and SEO.",
      "Implement real-time functionality using socket-based solutions like Socket.IO or WebSockets for live updates and communication between the server and clients.",
      "Work closely with backend developers, UI/UX designers, and other team members to integrate frontend interfaces with backend services and APIs.",
    ],
  },

  {
    title: "Front-End - Freelancer",
    date: "Sep 2022 - Aug 2023",
    roleTasks: [
      "Utilize media queries and responsive design techniques to ensure websites adapt seamlessly to various screen sizes and devices, enhancing user experience and accessibility.",
      "Conduct thorough testing across different web browsers, to ensure consistent functionality and appearance, addressing any compatibility issues that arise."
    ],
  },
];



const educationItems: {
  name: string;
  institution: string;
  date: string;
}[] = [

  {
  name: "SQL Server Administration",
  institution: "Udemy",
  date: "2025 - Present",
},

  {
    name: "Software Engineering",
    institution: "Universidad del Valle",
    date: "2019 - Present",
  },

   {
    name: "Software Engineering",
    institution: "Universidad del Valle",
    date: "2019 - Present",
  },
  
  {
    name: "Frontend Development",
    institution: "Udemy",
    date: "2020 - 2021",
  },

  {
    name: "BackEnd Development",
    institution: "Udemy",
    date: "2020 - 2021",
  },

  {
    name: "UI/UIX Development",
    institution: "Udemy",
    date: "2021",
  },

  {
    name: "Microsoft Office Specialist",
    institution: "Platzi",
    date: "2019",
  },
];
---

<section
  id="experience"
  class="relative flex flex-col items-center justify-center py-36"
>
  <img
    src="/figure-2.svg"
    alt="figure"
    class="absolute bottom-80 left-0 right-0 -z-10 h-[440px] w-[360px] blur-[180px] md:bottom-40 md:left-auto md:right-20 md:blur-[200px]"
  />
  <div class="flex max-w-2xl flex-col items-center gap-12">
    <h2 class="w-full text-center font-serif text-5xl sm:text-6xl">
      Experience
    </h2>
    {
      experienceItems.map((item) => (
        <article class="flex w-full flex-col gap-2">
          <h3 class="font-bold">{item.title}</h3>
          <span class="text-sm font-medium italic text-gray-800">
            {item.date}
          </span>
          <ul class="mt-4 flex list-disc flex-col gap-3">
            {item.roleTasks.map((task, i) => (
              <li class="ml-5">{task}</li>
            ))}
          </ul>
        </article>
      ))
    }

    <div class="flex w-full flex-col gap-4">
      <h3 class="font-serif text-3xl">Education</h3>
      <ul class="flex flex-wrap gap-6 sm:gap-14">
        {
          educationItems.map((item) => (
            <li class="flex gap-1">
              <span class="-mt-[2px] text-xl">&bull;</span>
              <div class="flex flex-col ">
                <h4 class="font-bold">{item.name}</h4>
                <span class="mt-1 text-sm font-medium">{item.institution}</span>
                <span class="text-sm italic text-gray-500">{item.date}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
